# Introduction

In this challenge, we are given a list of users along with their demographics, web session records, and some summary statistics. We are asked to predict which country a new user's first booking destination will be. All the users in this dataset are from the USA.

There are 12 possible outcomes of the destination country: 'US', 'FR', 'CA', 'GB', 'ES', 'IT', 'PT', 'NL','DE', 'AU', 'NDF' (no destination found), and 'other'. Note that 'NDF' is different from 'other' because 'other' means there was a booking, but is to a country not included in the list, while 'NDF' means there wasn't a booking.

The training and test sets are split by dates. In the test set, we will predict all the new users with first activities after 7/1/2014. In the sessions dataset, the data only dates back to 1/1/2014, while the users dataset dates back to 2010. 

The datasets are:

* age_gender_bkts.csv
* countries.csv
* sample_submission_NDF.csv
* sessions.csv
* test_users.csv
* train_users2.csv

We will go through the following steps:
* Fetch Airbnb data from https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings/data
* Merge the test_users.csv and train_users2.csv
* Clean the data
* Parse the data
* Collect the data in a panda dataframe
* Display the data
* Explore the data

We will also show the different sub-steps that can be taken to reach the presented solution.

As we begin the study, we first need to ensure that the datasets are clean and that all irrelevant parts are removed or filled correctly.

//import the necessary packages to perform our data analysis.
* numpy >>
* pandas >>
* matplotlib.pyplot >>
* seaborn >>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

# Load the data into DataFrames
train_users = pd.read_csv("train_users_2.csv") # Use the training set to build model
test_users = pd.read_csv("test_users.csv") # Use the test set to validate model

## >> Cleaning Data
### Basic Analysis of Data
From line 21 to 24 we are performing a basic analysis of data to identify patterns and/or irrelevant parts.

.shape >> return the number of rows and columns in the data set
.describe >> returns statistics about the numerical columns in a dataset

In [21]:
train_users.shape

(213451, 16)

In [22]:
test_users.shape

(62096, 15)

In [23]:
train_users.describe()

       timestamp_first_active            age    signup_flow
count            2.134510e+05  125461.000000  213451.000000
mean             2.013085e+13      49.668335       3.267387
std              9.253717e+09     155.666612       7.637707
min              2.009032e+13       1.000000       0.000000
25%              2.012123e+13      28.000000       0.000000
50%              2.013091e+13      34.000000       0.000000
75%              2.014031e+13      43.000000       0.000000
max              2.014063e+13    2014.000000      25.000000

In [24]:
test_users.describe()

       timestamp_first_active  date_first_booking           age   signup_flow
count            6.209600e+04                 0.0  33220.000000  62096.000000
mean             2.014081e+13                 NaN     37.616677      7.813885
std              8.024585e+07                 NaN     74.440647     11.254291
min              2.014070e+13                 NaN      1.000000      0.000000
25%              2.014072e+13                 NaN     26.000000      0.000000
50%              2.014081e+13                 NaN     31.000000      0.000000
75%              2.014091e+13                 NaN     40.000000     23.000000
max              2.014093e+13                 NaN   2002.000000     25.000000